body {
background-image: url(envelope.jpg);
background-size: cover;
font-family: 'Times New Roman', Times, serif;

}

.container {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-board {
  height : 75px;
  font-size: 45px;
  margin-bottom: 40px;
 }

.scores {
  margin-top: 55px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  
}

.choices {
  margin-top: 70px;
  display: flex;
  gap: 20px;
  
}

#rock {
  font-size: 40px;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
}

#paper {
  font-size: 40px;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
}

#scissors {
  font-size: 40px;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
}




